
<!doctype html>
<html>
<head>
    <title>API Test App</title>
  </head>
  <body>
    <iframe src="https://curious-koala-jnrvv0-dev-ed--c.trailblaze.vf.force.com/apex/NewSupportCase""></iframe>
   </body>
</html>
