
<!doctype html>
<html lang="en">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>API Test App</title>

  </head>

  <body>
    <iframe style="position: absolute; height: 100%; width: 100%; border: none" src="https://devorg0923com-dev-ed--c.develop.vf.force.com/apex/CaseDetailsPage"></iframe>
   </body>
</html>
