
<!doctype html>
<html>
<head>
    <title>API Test App</title>
  </head>
  <body>
    <iframe src="https://devorg0923com-dev-ed--c.develop.vf.force.com/apex/CaseDetailsPage"></iframe>
    <iframe src="https://api.clintox.xyz/apex/CaseDetailsPage"></iframe>
    <iframe src="https://clintoxsupport.my.salesforce-sites.com/iframetest"></iframe>
   </body>
</html>
