<!doctype html>
<html>

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MHKF1Q3QBE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-MHKF1Q3QBE');
  </script>
  <title>API Test App</title>
</head>

<body>
  <iframe src="https://test.clintox.xyz/employees/apex/TestPage" height="900" width="1800"></iframe>
</body>

</html>