
<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>API Test App</title>

    <link rel="canonical" href="">

    <link rel="stylesheet" type="text/css" href="https://charwood-231102-76-demo.my.salesforce.com/prefcenter/preference-center-1.1.1/css/pref-center-slds.css">
  </head>

  <body>
    <div id="pref-center-main"></div>
        <script id="preference-center" src="https://charwood-231102-76-demo.my.salesforce.com/prefcenter/preference-center-1.1.1/js/main.js" 
            pref-center-host="https://charwood-231102-76-demo.my.salesforce.com"
            pref-center-name="Clint_Demo_Form"
            pref-center-param="pctokene">
        </script>
  </body>

</html>
