<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Lightning Out Test Application</title>

    <link rel="canonical" href="">
  </head>

  <body>
    <div id="lightning-out-container"></div>
    <script src="https://d1q000001eewuuaa-dev-ed.develop.my.site.com/lightning/lightning.out.js"></script>
    <script>    
        $Lightning.use("c:lightningOutFlow", function() {
            $Lightning.createComponent("c:displayFlow", 
                {}, 
                'lightning-out-container', 
                function(cmp) {}
            );
            }, "https://d1q000001eewuuaa-dev-ed.develop.my.site.com"
        );
    </script>
  </body>
</html>