<!doctype html>
<html>
    <head>
        <title>Random Salesforce Developer Doc Generator</title>
    </head>
    <body style="text-align: center; font-family: Arial;">
        <h1>Random Salesforce Developer Doc</h1>
        <button onclick="location.href='/random'">Take Me There</button>
    </body>
</html>