<%- include('partials/_head', { title: 'Web-to-Case Result — Clintox' }) %>

<h1>Web-to-Case Result</h1>

<div class="alert alert-success mt-3" role="alert">
  <%= result %>
</div>


<%- include('partials/_foot') %>
